# Ne jamais versionner les snapshots locaux
snapshots_ok/
SNAPSHOTS/
LATEST_MAJOR_SNAPSHOT.txt
archives/snapshots_old/
archives/backup_copies/

desktop.ini

sauvegarde github/
backup-*.bundle
backup-*.bundle
REGLE_PROJET_SUIVI_CHANTIERS_SANS_MOBILE.md
